﻿
@{
    ViewBag.Title = "Reservation System";
}

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
</head>

<div class="jumbotron adjusted">
	<center><h1>Railroad Reservation System</h1></center>
</div>



<div id="reservation-form" class="row">
    <div>
	<center><h1>Make a reservation</h1></center>
    </div>
	<br /><br />
	<div class="station">
		<span>Start station: </span>
		<select data-bind="options: stationStart, optionsText: 'Name', optionsValue: 'ID', value: selectedStart"></select>
	</div>
	<div class="station">
		<span>End station: </span>
		<select data-bind="options: stationEnd, optionsText: 'Name', optionsValue: 'ID', value: selectedEnd">
		</select>
	</div>
	<p>Choose date: </p>
	<div data-bind="kendoCalendar: startDate"> </div>
	<hr />
	<span>Select time of day: </span>
	<select id="time-of-day">
		<option value="1">Morning</option>
		<option value="2">Afternoon</option>
		<option value="3">Evening</option>
	</select>
	<br /><br />
	<div>
		<input id="submit-reservation" type="submit" value="Submit" data-bind="click: Submit">
	</div>
</div>


<style>
	.station{
		margin-bottom: 20px; 
	}

	.adjusted{
		padding-bottom: 20px!important;
		padding-top: 20px!important; 
	}
</style>

@section scripts{
	<script type="text/javascript">
			var Model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));
			console.log(Model);
	</script>
	@Scripts.Render("~/bundles/home_bundle")

}